###########################
# User data
###########################
_*/

###########################
# vagrant settings
###########################
.vagrant/
__pycache__/

###########################
# python data
###########################
*.pyc


###########################
# MacOS settings
###########################
.DS_Store


###########################
# IDE settings
###########################
.idea/